<nav class="navbar navbar-expand-md bg-dark white-text">
  <div class="container-fluid">
    <span class="navbar-brand">25</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto gap-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="vista" [ngClass]="{'is-valid': usuarioLogueado, 'is-invalid': !usuarioLogueado}">VISTA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="busqueda" [ngClass]="{'is-valid': usuarioLogueado, 'is-invalid': !usuarioLogueado}">BUSQUEDA</a>
        </li>
        <!-- con *ngIf="usuarioLogueado" deberia mostrar el enlace solo si -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="nuevo" [ngClass]="{'is-valid': usuarioLogueado, 'is-invalid': !usuarioLogueado}">NUEVO</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="mensaje" [ngClass]="{'is-valid': usuarioLogueado, 'is-invalid': !usuarioLogueado}">FEEDBACK</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active btn btn-info" aria-current="page" routerLink="login" *ngIf="!usuarioLogueado">INGRESAR</a>
          <a class="nav-link active btn btn-warning" aria-current="page" routerLink="login" *ngIf="usuarioLogueado" (click)="logout()">SALIR</a>

        </li>

      </ul>
    </div>
  </div>
</nav>

<style>
  .white-text,
  .white-text * {
    color: rgba(255, 255, 255, 0.8) !important;
  }

  .is-invalid {
    pointer-events: none;
    opacity: .7;
  }

  .nav-item:last-child>a {
    min-width: 10ch;
    display: block;
  }
</style>